<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="products" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Ürün Ekle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <div>
      <ion-row class="ion-padding">
        <ion-col (click)="clickNextInput($event)">
          <ion-button shape="full" expand="block" color="warning" fill="outline">Ana Görsel</ion-button>
          <!-- <input class="d-none" type="file" accept="image/*" (change)="onMainImageSelected($event)" /> -->
          <input class="d-none" type="file" accept="image/*" (change)="onSingleFileSelected($event)" [(ngModel)]="mainImage" />
        </ion-col>
        <ion-col (click)="clickNextInput($event)">
          <ion-button shape="full" expand="block" color="warning" fill="outline">Diğer Görseller</ion-button>
          <!-- <input class="d-none" type="file" multiple accept="image/*" (change)="onOtherImagesSelected($event)" /> -->
          <input class="d-none" type="file" multiple accept="image/*" (change)="onMultipleFilesSelected($event)" [(ngModel)]="images" />
        </ion-col>
      </ion-row>
      
      <ion-row class="ion-padding" *ngIf="singleImageBase64">
        <ion-col>
          <img *ngIf="singleImageBase64" [src]="singleImageBase64" class="preview-img" />
        </ion-col>
      </ion-row>

      <ion-row class="ion-padding" *ngIf="multipleImagesBase64.length > 0">
        <ion-col>
          <div class="preview-list">
            <img *ngFor="let img of multipleImagesBase64" [src]="img" />
          </div>
        </ion-col>
      </ion-row>

      <ion-item>
        <ion-label position="floating">Ürünün Adı:</ion-label>
        <ion-input [(ngModel)]="name" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Stok Adedi:</ion-label>
        <ion-input [(ngModel)]="stock" type="number" inputmode="numeric" step="any" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Ürün Fiyatı:</ion-label>
        <ion-input [(ngModel)]="discountedPrice" type="number" inputmode="numeric" step="any" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Eski Fiyat:</ion-label>
        <ion-input [(ngModel)]="price" type="number" inputmode="numeric" step="any" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Ürün Açıklaması:</ion-label>
        <ion-input [(ngModel)]="description" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">İl:</ion-label>
        <ion-input [(ngModel)]="city" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">İlçe:</ion-label>
        <ion-input [(ngModel)]="district" type="text" required></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button (click)="saveProduct()" color="warning" shape="full" expand="block">Ürün Ekle</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-list>
</ion-content>

