<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="products" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Add Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <div>
      <ion-row class="ion-padding">
        <ion-col (click)="clickNextInput($event)">
          <ion-button shape="full" expand="block" color="warning" fill="outline">Main Image</ion-button>
          <input class="d-none" type="file" accept="image/*" (change)="onSingleFileSelected($event)"
            [(ngModel)]="mainImage" />
        </ion-col>
        <ion-col (click)="clickNextInput($event)">
          <ion-button shape="full" expand="block" color="warning" fill="outline">Other Images</ion-button>
          <input class="d-none" type="file" multiple accept="image/*" (change)="onMultipleFilesSelected($event)"
            [(ngModel)]="images" />
        </ion-col>
      </ion-row>

      <ion-row class="ion-padding" *ngIf="singleImageBase64">
        <ion-col>
          <img *ngIf="singleImageBase64" [src]="singleImageBase64" class="preview-img" />
        </ion-col>
      </ion-row>

      <ion-row class="ion-padding" *ngIf="multipleImagesBase64.length > 0">
        <ion-col>
          <div class="preview-list">
            <img *ngFor="let img of multipleImagesBase64" [src]="img" />
          </div>
        </ion-col>
      </ion-row>

      <ion-item>
        <ion-label position="floating">Product Name:</ion-label>
        <ion-input [(ngModel)]="name" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Stock Quantity:</ion-label>
        <ion-input [(ngModel)]="stock" type="number" inputmode="numeric" step="any" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Product Price:</ion-label>
        <ion-input [(ngModel)]="discountedPrice" type="number" inputmode="numeric" step="any" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Old Price:</ion-label>
        <ion-input [(ngModel)]="price" type="number" inputmode="numeric" step="any" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Product Description:</ion-label>
        <ion-input [(ngModel)]="description" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">City:</ion-label>
        <ion-input [(ngModel)]="city" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">District:</ion-label>
        <ion-input [(ngModel)]="district" type="text" required></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button (click)="saveProduct()" color="warning" shape="full" expand="block">Add Product</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-list>
</ion-content>