<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let user of users" class="user-row ion-padding">
      <ion-col size="12" size-md="2">
        <div class="between">
          <div routerLink="/user-edit/{{user.id}}">{{ user.firstName }} {{ user.lastName }}</div>
          <div class="user-role">
            {{ user.role === 1 ? 'User' : user.role === 2 ? 'Seller' : user.role === 3 ? 'Admin' : '' }}
          </div>
        </div>
      </ion-col>
      <ion-col size="12" size-md="2">
        <strong>Username</strong> {{ user.username }}
      </ion-col>
      <ion-col size="12" size-md="2">
        <strong>Email</strong> {{ user.email }}
      </ion-col>
      <ion-col size="12" size-md="2">
        <strong>Phone</strong> {{ user.phoneNumber }}
      </ion-col>
      <ion-col size="12" size-md="2" class="ion-margin-top ion-text-end">
        <ion-button size="small" color="danger" (click)="deleteUser(user.id)">Delete</ion-button>
        <ion-button size="small" color="warning" routerLink="/user-edit/{{user.id}}">Edit</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>