<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Product Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-template-3">
    <div class="main-img">
      <div class="swiper product-main-imgs">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="img"><img [src]="'http://localhost:5203' + product?.mainImage" alt="{{ product?.name }}"
                width="150"></div>
          </div>
          <div *ngFor="let image of product?.images" [hidden]="!image" class="swiper-slide">
            <div class="img"><img [src]="'http://localhost:5203/' + image" alt="{{ product?.name }}" width="100"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="other-imgs">
      <div class="swiper product-other-imgs">
        <div class="swiper-wrapper">
          <div class="swiper-slide active">
            <div class="img"><img [src]="'http://localhost:5203' + product?.mainImage" alt="{{ product?.name }}"
                width="150"></div>
          </div>
          <div *ngFor="let image of product?.images" [hidden]="!image" class="swiper-slide">
            <div class="img {{!image ? 'hide' : ''}}"><img [src]="'http://localhost:5203/' + image"
                alt="{{ product?.name }}" width="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ion-padding-vertical">
    <h1 class="item-name">{{ product?.name }}</h1>

    <h4 class="price">
      {{ product?.discountedPrice }} TL
      <span class="real-price">{{ product?.price }} TL</span>
    </h4>
  </div>

  <div class="seperator">
    <hr>
  </div>

  <div class="description">
    <h5>Description</h5>

    <p>{{ product?.description }}</p>
  </div>

  <ion-button expand="block" color="warning" class="ion-margin-top ion-margin-bottom"
    (click)="addToCart(product?.id)">Add to Basket</ion-button>

  <ion-col *ngIf="currentUserId === product?.sellerUserId || currentRole === 'Admin'" size="12" size-md="2"
    class="ion-margin-top control-btns">
    <ion-button *ngIf="currentUserId === product?.sellerUserId || currentRole === 'Admin'" size="medium" color="danger"
      (click)="deleteProduct(product?.id)">Delete Product</ion-button>
    <ion-button *ngIf="currentUserId === product?.sellerUserId" size="medium" color="primary"
      [routerLink]="['/product-update', product?.id]">Update</ion-button>
  </ion-col>

</ion-content>