<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Product Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-template-3">
    <div class="main-img">
      <div class="swiper product-main-imgs">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="img"><img [src]="getImageUrl(product?.mainImage)" alt="{{ product?.name }}"
                width="150"></div>
          </div>
          <div *ngFor="let image of product?.images" [hidden]="!image" class="swiper-slide">
            <div class="img"><img [src]="getImageUrl(image)" alt="{{ product?.name }}" width="100"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="other-imgs">
      <div class="swiper product-other-imgs">
        <div class="swiper-wrapper">
          <div class="swiper-slide active">
            <div class="img"><img [src]="getImageUrl(product?.mainImage)" alt="{{ product?.name }}"
                width="150"></div>
          </div>
          <div *ngFor="let image of product?.images" [hidden]="!image" class="swiper-slide">
            <div class="img {{!image ? 'hide' : ''}}"><img [src]="getImageUrl(image)"
                alt="{{ product?.name }}" width="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ion-padding-vertical">
    <h1 class="item-name">{{ product?.name }}</h1>

    <h4 class="price">
      {{ product?.discountedPrice }} TL
      <span class="real-price">{{ product?.price }} TL</span>
    </h4>
  </div>

  <div class="seperator">
    <hr>
  </div>

  <div class="description">
    <h5>Description</h5>

    <p>{{ product?.description }}</p>
  </div>

  <ion-button expand="block" color="warning" class="ion-margin-top ion-margin-bottom"
    (click)="addToCart(product?.id)">Add to Basket</ion-button>

  <ion-col *ngIf="currentUserId === product?.sellerUserId || currentRole === 'Admin'" size="12" size-md="2"
    class="ion-margin-top control-btns">
    <ion-button *ngIf="isOwner() || currentRole === 'Admin'" size="medium" color="danger"
      (click)="deleteProduct(product?.id)">Delete Product</ion-button>
    <ion-button *ngIf="isOwner()" size="medium" color="primary"
      [routerLink]="['/product-update', product?.id]">Update</ion-button>
  </ion-col>

  <div class="comments-section">
    <div *ngIf="isLogging" class="comment-area">
      <ion-item class="comment-input">
        <ion-input [(ngModel)]="comment" placeholder="Write a comment"></ion-input>
      </ion-item>
      <ion-button expand="block" color="warning" class="comment-btn" (click)="addComment()">Add Comment</ion-button>
    </div>
    <div *ngIf="comments && comments.length > 0" class="comment-list">
      <h5>Comments</h5>
      <div class="comment-boxes">
        <div class="comment-box" *ngFor="let c of comments">
          <div class="comment-user">
            <span class="comment-name">{{ c.user?.firstName }} {{ c.user?.lastName }}</span>
            <button *ngIf="currentRole === 'Admin' || currentUserId === c.user?.id" class="delete-btn"
              (click)="deleteComment(c.id!)">
              <ion-icon name="trash" style="font-size: 1.3em; color: #d35400;"></ion-icon>
            </button>
          </div>
          <div class="comment-content">{{ c.content }}</div>
        </div>
      </div>
    </div>
  </div>

</ion-content>