<ion-header class=" 'ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>login</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <div class="shape"></div>
    <ion-card-header>
      <ion-card-title class="ion-h">
        Size En Yakın <br> Ürünleri Keşfedin.
      </ion-card-title>
      <ion-card-subtitle class="ion-txt" style="text-transform: none;">
        "Localmart uygulaması sayesinde bölgenizde size en yakın ürünleri görebilir, satın alabilir veya ürünlerinizi
        satabilirsiniz."
        <br><br>
        İLETİŞİM İÇİN
        <br><br>
        Email: <span style="text-transform: lowercase;">localmart&#64;gmail.com</span>
        <br><br>
        Telefon: +90 (532) 555 55 55
      </ion-card-subtitle>
    </ion-card-header>
    
    <br>
    <div class="text-center ion-margin-top" *ngIf="isLogging">Sayın {{currentUser?.username}}; <br> {{ currentRoleText
      }} Olarak Giriş Yaptınız.</div>

    <ion-card-content>
      <div class="signin-btns">
        <ion-button *ngIf="!isLogging" routerLink="/register" size="small" fill="outline" shape="round" color="dark"
          color="warning">Kayıt Ol</ion-button>
        <ion-button *ngIf="!isLogging" routerLink="/login" size="small" fill="outline" shape="round" color="warning"
          class="loginbtn" color="warning">Giriş Yap</ion-button>
        <ion-button *ngIf="isLogging" (click)="logOut()" size="small" fill="outline" shape="round" color="warning"
          color="warning">Çıkış Yap</ion-button>
        <ion-button routerLink="/products" size="small" fill="solid" shape="round" color="warning" class="full"
          color="warning">Ürünler</ion-button>
        <ion-button *ngIf="currentRole === 'Admin'" routerLink="/user-list" size="small" fill="solid" shape="round"
          color="warning" class="full" color="warning">Kullanıcılar</ion-button>
        <ion-button *ngIf="isLogging && currentRole !== 'Admin' && currentRole !== 'User'" routerLink="/basket"
          size="small" fill="solid" shape="round" color="warning" class="full" color="warning">Sepet</ion-button>
        <ion-button *ngIf="isLogging && currentRole !== 'Admin' && currentRole !== 'User'" routerLink="/my-orders"
          size="small" fill="solid" shape="round" color="warning" class="full" color="warning">Siparişlerim</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>